@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-emerald {
  --bs-bg-opacity: 1;
  background: rgba(16 185 129 / var(--bs-bg-opacity)) !important;
}

.bg-light-gray {
  --bs-bg-opacity: 1;
  background: rgba(156 163 175 / var(--bs-bg-opacity)) !important;
}

.bg-vuln-unknown {
  --bs-bg-opacity: 1;
  background: rgba(160 160 160 / var(--bs-bg-opacity)) !important;
}

.bg-vuln-low {
  --bs-bg-opacity: 1;
  background: rgba(66 190 91 / var(--bs-bg-opacity)) !important;
}

.bg-vuln-medium {
  --bs-bg-opacity: 1;
  background: rgba(226 119 1 / var(--bs-bg-opacity)) !important;
}
.bg-vuln-high {
  --bs-bg-opacity: 1;
  background: rgba(251 132 1 / var(--bs-bg-opacity)) !important;
}

.bg-vuln-critical {
  --bs-bg-opacity: 1;
  background: rgba(206 61 60 / var(--bs-bg-opacity)) !important;
}

.text-vuln-unknown {
  --bs-text-opacity: 1;
  color: rgba(120 120 120 / var(--bs-text-opacity)) !important;
}

.text-vuln-low {
  --bs-text-opacity: 1;
  color: rgba(66 190 91 / var(--bs-text-opacity)) !important;
}

.text-vuln-medium {
  --bs-text-opacity: 1;
  color: rgba(226 119 1 / var(--bs-text-opacity)) !important;
}
.text-vuln-high {
  --bs-text-opacity: 1;
  color: rgba(251 132 1 / var(--bs-text-opacity)) !important;
}

.text-vuln-critical {
  --bs-text-opacity: 1;
  color: rgba(206 61 60 / var(--bs-text-opacity)) !important;
}
